.add-item {
    width: 95%;
    margin: auto;
    text-align: center;
}

.add-form {
    text-align: center;
}

label {
    font-size: 25px;
}

input[type='text'] {
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px 10px;
    width: 90%;
    display: inline-block;
    height: 35px;
    font-size: 20px !important;
    font-family: 'Pompiere', cursive !important;
}

select {
    width: 90%;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    height: 40px;
    font-size: 20px !important;
    font-family: 'Pompiere', cursive !important;
}

input[type='submit'] {
    margin: 10px 0;
    border-radius: 4px;
    padding: 5px 10px;
    width: 90%;
    display: inline-block;
    height: 45px;
    font-size: 25px !important;
    font-family: 'Amatic SC', cursive !important;
}

.cancel-button {
    margin: 5px auto;
}

.cancel {
    width: 90%;
    display: inline-block;
    height: 45px;
    font-size: 25px !important
}

@media screen and (min-width: 750px) {
    input[type='text'] {
        width: 50%;
    }

    input[type='submit'] {
        width: 50%;
    }

    textarea {
        width: 50%;
    }
    select {
        width: 50%;
        border: 1px solid black;
        border-radius: 4px;
        padding: 5px 10px;
        text-align: center;
    }

    .cancel {
        width: 50%;

    }
}
