.category-items {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
}

.item {
    width: 100%;
    margin: auto;
}

.item-figure {
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.item-picture {
    width: 30%;
}

.item-caption{
    width: 70%;
}


@media screen and (min-width: 750px) {
    .item {
        width: 30%;
    }

    .item-picture {
        width: 100%;
    }

    .item-caption{
        width: 100%;
    }
}
