* {
    box-sizing: border-box;
    border: 1px solid red;
}

.main-header {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

#page-heading {
    width: 100%;
}

#login-div {
    width: 100%;
}

.main-footer {
    width: 95%;
    margin: auto;
}

@media screen and (min-width: 750px) {
    #page-heading {
        width: 80%;
    }

    #login-div {
        width: 20%;
    }

}
