<!doctype html>

<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
        <meta name="mobile-web-app-capable" content="yes">

        <title>Add a category</title>

		<!--Import to use glyphicons-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!--Local stylesheets used for this page-->
        <link rel="stylesheet" href="{{url_for('static', filename='addItem-style.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">

        <script src="{{url_for('static', filename='main.js')}}"></script>
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    </head>

    <body>
        <header class="main-header">
            <!--Website logo-->
            <img class="logo" src="{{url_for('static', filename='logo.png')}}">
        </header>

        <section class="navbar">
		    <!--Burger menu icon. Placed inside div to be able to center icon-->
			<div class="menu-button">
				<span onclick="openNav()" class="glyphicon glyphicon-menu-hamburger"></span>
			</div>
            <!--If logged in, display Logout, else display Login button-->
            <div id="login-div">
                {% if 'username' not in login %}
                <a href="{{url_for('login')}}" class="buttons login-button">Login</a>
                {% else %}
                <a href="{{url_for('gdisconnect')}}" class="buttons login-button">Logout</a>
                {% endif %}
            </div>
        </section>

        <section class="page-heading">
            <h1>Add a new category</h1>
        </section>

        <section id="sideMenu" class="sidenav">
			<!--&times creates an X for closing the menu-->
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <!-- Choose what to display depending on login status -->
            {% if 'username' not in login %}
                <a href="{{url_for('login')}}" class="menu-links">Login</a>
            {% else %}
                <a href="{{url_for('gdisconnect')}}" class="menu-links">Logout</a>
            {% endif %}
                <a href="{{url_for('catalog')}}" class="menu-links">View Catalog</a>
        </section>

        <!-- Create form to add category -->
        <section class="add-item">
            <form class="add-form" action="{{url_for('addCategory')}}" method="post">
                <!-- Required field -->
                <label for="iName">Category Name</label><br>
                <input type="text" name="itemName" id="iName" required><br>
                <!-- Required field -->
                <label for="iDescription">Category description:</label><br>
                <input type="text" name="description" id="iDescription" required><br>
                <!-- Not required, default image loaded if not given -->
                <label for="picUrl">Picture URL:</label><br>
                <input type="text" name="pic_url" id="picUrl"><br>

                <input type="submit" value="Submit" class="buttons">
            </form>
            <div class="cancel-button">
                <!-- Redirect to main page if cancel button is clicked -->
                <a href="{{url_for('catalog')}}" class="buttons cancel">Cancel</a>
            </div>
        </section>
        <!-- Simple footer -->
        <footer class="main-footer">
            <p>+27 151 3535</p>
            <p>wicwebdevelopment@gmail.com</p>
        </footer>

    </body>

</html>
