<!doctype html>

<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
        <meta name="mobile-web-app-capable" content="yes">

        <title>Add item</title>

        <!--Import to use glyphicons-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <link rel="stylesheet" href="{{url_for('static', filename='addItem-style.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">

        <script src="{{url_for('static', filename='main.js')}}"></script>
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    </head>

    <body>
        <header class="main-header">
            <!--Page logo-->
            <img class="logo" src="{{url_for('static', filename='logo.png')}}">
        </header>

        <section class="navbar">
			<!--Burger menu icon. Placed inside div to be able to center icon-->
			<div class="menu-button">
				<span onclick="openNav()" class="glyphicon glyphicon-menu-hamburger"></span>
			</div>
            <!--If logged in, display Logout, else display Login button-->
            <div id="login-div">
                {% if 'username' not in login %}
                <a href="{{url_for('login')}}" class="buttons login-button">Login</a>
                {% else %}
                <a href="{{url_for('gdisconnect')}}" class="buttons login-button">Logout</a>
                {% endif %}
            </div>
        </section>

        <section id="sideMenu" class="sidenav">
			<!--&times creates an X for closing the menu-->
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            {% if 'username' not in login %}
                <a href="{{url_for('login')}}" class="menu-links">Login</a>
            {% else %}
                <a href="{{url_for('gdisconnect')}}" class="menu-links">Logout</a>
            {% endif %}
                <a href="{{url_for('catalog')}}" class="menu-links">View Catalog</a>
            {% if admin==True %}
                <a href="{{url_for('addCategory')}}" class="menu-links">Add category</a>
            {% endif %}
        </section>

        <section class="page-heading">
            <h1>Add a new item</h1>
        </section>
        <!--Form functions mostly the same as add category form, except for additional category selection-->
        <section class="add-item">
            <form class="add-form" action="{{url_for('addItem', category_id=category.id)}}" method="post">

                <label for="iName">Item Name</label><br>
                <input type="text" name="itemName" id="iName" required><br>

                <label for="iDescription">Item description:</label><br>
                <input type="text" name="description" id="iDescription" required><br>

                <label for="picUrl">Picture URL:</label><br>
                <input type="text" name="pic_url" id="picUrl"><br>

                <label for="catSelect">Choose category:</label><br>
                <select class="category-select" name="cat-name" id="catSelect">
                    <!--For loop to show all available categories-->
                    <!--Categories in dropdown list. Shown value is category where user clicked add item button-->
                    {% for cat in categories %}
                        {% if cat.name == category.name %}
                        <option selected value="{{cat.id}}">{{cat.name}}</option>
                        {% else %}
                        <option value="{{cat.id}}">{{cat.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <input type="submit" value="Submit" class="buttons">
            </form>
            <div class="cancel-button">
                <a href="{{url_for('viewCategory',category_id=category.id)}}" class="buttons cancel">Cancel</a>
            </div>
        </section>

        <footer class="main-footer">
            <p>+27 151 3535</p>
            <p>wicwebdevelopment@gmail.com</p>
        </footer>

    </body>

</html>
