<!doctype html>

<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
        <meta name="mobile-web-app-capable" content="yes">

        <title>Item Catalog</title>
        <link rel="stylesheet" href="../static/catalog-style.css">
        <link rel="stylesheet" href="../static/main.css">
		<!--Import to use glyphicons-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <script src="../static/main.js"></script>
    </head>

    <body>
        <header class="main-header">
            <!--Constant-->
            <div id="page-heading">
				<!--Burger menu icon. Placed inside div to be able to center icon-->
				<div class="menu-button">
					<span onclick="openNav()" class="glyphicon glyphicon-menu-hamburger"></span>
				</div>
				<!--Page heading-->
				<h1 class="main-heading">Item Catalog</h1>
			</div>
            <!--If logged in, display message, else display login button-->
            <div id="login-div">
                <a href="" class="buttons">Login</a>
            </div>
        </header>

        <section id="sideMenu" class="sidenav">
			<!--&times creates an X for closing the menu-->
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#" class="menu-links">Login</a>
            <a href="{{url_for('catalog')}}" class="menu-links">View Catalog</a>
            <a href="#" class="menu-links">Add category</a>
            <a href="#" class="menu-links">Add item</a>
            <a href="#" class="menu-links">About</a>
            <a href="#" class="menu-links">Contact details</a>
        </section>



        <section id="main-body" class="category-section">
            <!--The divs will be placed in a for loop that loops through
                categories in the database -->
            <!--Variable length-->
            {% for item in catalog_items %}
            <a href="{{url_for('viewCategory', category_id=item.id)}}" class="category">
                <figure class="category-figure">
                    <!--Picture and captions will change-->
                    <picture class="category-picture">
                        <!--Alt needs to have -->
                        <img class="category-poster" src="{{item.url}}" alt="">
                    </picture>

                    <figcaption class="category-caption">
                        <p class="category-name">{{item.name}}</p>
                    </figcaption>
                </figure>
            </a>
            {% endfor %}
        </section>

        <section class="addSection">
            <a href="{{url_for('addCategory')}}" class="addButton buttons">
                Add a Category
            </a>
        </section>

        <!--Will stay the same across all pages-->
        <footer class="main-footer">
            Test3
        </footer>
    </body>

</html>
