<!doctype html>

<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
        <meta name="mobile-web-app-capable" content="yes">

        <title>Item Catalog</title>
        <link rel="stylesheet" href="../static/catalog-style.css">
        <link rel="stylesheet" href="../static/main.css">
    </head>

    <body>
        <header class="main-header">
            <div id="page-heading">Heading</div>
            <div id="login-div">Login</div>
        </header>

        <section class="category-section">
            <!--The divs will be placed in a for loop that loops through
                categories in the database -->
            <div class="category">
                <figure class="category-figure">
                    <picture class="category-picture">
                        Picture1
                    </picture>

                    <figcaption class="category-caption">
                        Caption1
                    </figcaption>
                </figure>
            </div>

            <div class="category">
                <figure class="category-figure">
                    <picture class="category-picture">
                        Picture2
                    </picture>

                    <figcaption class="category-caption">
                        Caption2
                    </figcaption>
                </figure>
            </div>

            <div class="category">
                <figure class="category-figure">
                    <picture class="category-picture">
                        Picture3
                    </picture>

                    <figcaption class="category-caption">
                        Caption3
                    </figcaption>
                </figure>
            </div>

        </section>

        <footer class="main-footer">
            Test3
        </footer>
    </body>

</html>
