<!doctype html>

<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
        <meta name="mobile-web-app-capable" content="yes">

        <title>Category Items</title>
        <link rel="stylesheet" href="../static/category-style.css">
        <link rel="stylesheet" href="../static/main.css">
    </head>

    <body>
        <header class="main-header">
            <div id="page-heading">Heading</div>
            <div id="login-div">Login</div>
        </header>

        <section class="category-items">
            <!--The divs will be placed in a for loop that loops through
                categories in the database -->
            <div class="item">
                <figure class="item-figure">
                    <picture class="item-picture">
                        Picture1
                    </picture>

                    <figcaption class="item-caption">
                        Caption1
                    </figcaption>
                </figure>
            </div>
            <div class="item">
                <figure class="item-figure">
                    <picture class="item-picture">
                        Picture1
                    </picture>

                    <figcaption class="item-caption">
                        Caption1
                    </figcaption>
                </figure>
            </div>
            <div class="item">
                <figure class="item-figure">
                    <picture class="item-picture">
                        Picture1
                    </picture>

                    <figcaption class="item-caption">
                        Caption1
                    </figcaption>
                </figure>
            </div>
        </section>

        <footer class="main-footer">
            Footer
        </footer>

    </body>

</html>
