<!doctype html>

<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
        <meta name="mobile-web-app-capable" content="yes">

        <title>{{category.name}}</title>

        <!--Import to use glyphicons-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <link rel="stylesheet" href="{{url_for('static', filename='catalog-style.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">

        <script src="{{url_for('static', filename='main.js')}}"></script>
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    </head>

    <body>
        <header class="main-header">
            <!--Page logo-->
            <img class="logo" src="{{url_for('static', filename='logo.png')}}">
        </header>

        <section class="navbar">
			<!--Burger menu icon. Placed inside div to be able to center icon-->
			<div class="menu-button">
				<span onclick="openNav()" class="glyphicon glyphicon-menu-hamburger"></span>
			</div>
            <!--If logged in, display Logout, else display Login button-->
            <div id="login-div">
                {% if 'username' not in login %}
                <a href="{{url_for('login')}}" class="buttons login-button">Login</a>
                {% else %}
                <a href="{{url_for('gdisconnect')}}" class="buttons login-button">Logout</a>
                {% endif %}
            </div>
        </section>

        <section class="page-heading">
            <h1>{{category.name}}</h1>
        </section>

        <section id="sideMenu" class="sidenav">
			<!--&times creates an X for closing the menu-->
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            {% if 'username' not in login %}
                <a href="{{url_for('login')}}" class="menu-links">Login</a>
            {% else %}
                <a href="{{url_for('gdisconnect')}}" class="menu-links">Logout</a>
            {% endif %}
                <a href="{{url_for('catalog')}}" class="menu-links">View Catalog</a>
            {% if admin==True %}
                <a href="{{url_for('addCategory')}}" class="menu-links">Add category</a>
            {% endif %}
        </section>

        <!--Display all the items in the category-->
        <section id="main-body" class="category-section">
                {% for item in itemList %}
                <a href="{{url_for('viewItem', category_id=category.id, item_id=item.id)}}" class="category">
                    <figure class="category-figure">
                        <picture class="category-picture">
                            <img class="category-poster" src="{{item.url}}" alt="{{item.name}} picture">
                        </picture>

                        <figcaption class="category-caption">
                            <p class="category-name">{{item.name}}</p>
                        </figcaption>
                    </figure>
                </a>
                {% endfor %}
        </section>

        <section class="addSection">
            <div class="button-container">
                <a href="{{url_for('addItem', category_id=category.id)}}" class="actionButton buttons">
                    Add Item
                </a>
            </div>
            <!--If logged in as admin, display edit and delete category buttons-->
            {% if admin==True %}
            <div class="button-container">
                <a href="{{url_for('editCategory', category_id=category.id)}}" class="actionButton buttons">
                    Edit Category
                </a>
            </div>
            <div class="button-container">
                <a href="{{url_for('deleteCategory', category_id=category.id)}}" class="actionButton buttons">
                    Delete Category
                </a>
            </div>
            {% else %}
            <div class="no-account">
                <p>Only admin can edit or delete categories</p>
            </div>
            {% endif %}
        </section>

        <footer class="main-footer">
            <p>+27 151 3535</p>
            <p>wicwebdevelopment@gmail.com</p>
        </footer>

    </body>

</html>
