<!doctype html>

<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
        <meta name="mobile-web-app-capable" content="yes">

        <title>{{item.name}}</title>
        <link rel="stylesheet" href="{{url_for('static', filename='items-style.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">

        <!--Import to use glyphicons-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <script src="{{url_for('static', filename='main.js')}}"></script>
        <link href="https://fonts.googleapis.com/css?family=Pompiere" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Kranky" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    </head>

    <body>
        <header class="main-header">
            <!--Page logo-->
            <img class="logo" src="{{url_for('static', filename='logo.png')}}">
        </header>

        <section class="navbar">
			<!--Burger menu icon. Placed inside div to be able to center icon-->
			<div class="menu-button">
				<span onclick="openNav()" class="glyphicon glyphicon-menu-hamburger"></span>
			</div>
            <!--If logged in, display Logout, else display Login button-->
            <div id="login-div">
                {% if 'username' not in login %}
                <a href="{{url_for('login')}}" class="buttons login-button">Login</a>
                {% else %}
                <a href="{{url_for('gdisconnect')}}" class="buttons login-button">Logout</a>
                {% endif %}
            </div>
        </section>

        <section id="sideMenu" class="sidenav">
			<!--&times creates an X for closing the menu-->
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            {% if 'username' not in login %}
                <a href="{{url_for('login')}}" class="menu-links">Login</a>
            {% else %}
                <a href="{{url_for('gdisconnect')}}" class="menu-links">Logout</a>
            {% endif %}
                <a href="{{url_for('catalog')}}" class="menu-links">View Catalog</a>
            {% if admin==True %}
                <a href="{{url_for('addCategory')}}" class="menu-links">Add category</a>
            {% endif %}
        </section>

        <!--Display item pic and info-->
        <section class="item-container">
            <div class="cards item">
                <picture class="item-image">
                    <img class="item-picture" src="{{item.url}}" alt="{{item.name}} picture">
                </picture>

                <div class="name-container">
                    <div class="item-name">
                        <p class="iname">{{item.name}}</p>
                    </div>
                    <div class="item-description">
                        <p class="description">{{item.description}}</p>
                    </div>
                </div>
            </div>
            <!--Render buttons based on user-->
            <div class="action-buttons">
                {% if userAccess == True %}
                <div class="ibutton-container">
                    <a href="{{url_for('editItem', category_id=category.id, item_id=item.id)}}" class="buttons item-buttons">
                        Edit Item
                    </a>
                </div>

                <div class="ibutton-container">
                    <a href="{{url_for('deleteItem', category_id=category.id, item_id=item.id)}}" class="buttons item-buttons">
                        Delete Item
                    </a>
                </div>
                {% else %}
                <div class="no-account">
                    <p>You dont have permission to edit or delete this item.</p>
                </div>
                {% endif %}
            </div>
        </section>

        <footer class="main-footer">
            <p>+27 151 3535</p>
            <p>wicwebdevelopment@gmail.com</p>
        </footer>

    </body>

</html>
